body {
  background: var(--bg);
  color: var(--fg);
}

.card.bg-body, .bg-body {
  background-color: var(--card-bg) !important;
  color: var(--card-fg) !important;
}

.table td, .table th {
  color: var(--fg);
}
